@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css";

div {
    float: center;
    width: auto;
    min-height: 150px;
    max-height: 300px;
    text-align: left;
    text-justify: initial;
}